# Normalize line endings to LF on checkout
* text=auto eol=lf

# PHP files
*.php text eol=lf

# Config files
*.json text eol=lf
*.xml  text eol=lf
*.env  text eol=lf
*.md   text eol=lf

# Binary files
*.xlsx binary
*.png  binary
*.jpg  binary
